/*
* ------------------------------------------------------------
* Override GradasiGo Stylesheet, create youe design here
* Happy Hack :)
* ------------------------------------------------------------
*/

/* ---------------------- */
/* 		   Global		  */
/* ---------------------- */

*{
	margin: 0;
	padding: 0;
}
body{
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: Roboto, sans-serif;
	color: #2b2b2b;
	background-color: #f8f8f8;
}
a, button, input, textarea, select, button{
	text-decoration: none;
	outline: 0 !important;
}
textarea{
	min-width: 100%;
	max-width: 100%;
	resize: none;
}
.no-underline{
	text-decoration: none !important;
}

.material-icons{
	font-size: unset !important;
}


.no-float{
	float: none !important;
}
.pull-right-to-left{
	float: right;
}


.overflowhidden{
	overflow: hidden;
}
.scroll-x{
	overflow-x: auto;
}
.scroll-y{
	overflow-y: auto;
}


.image-full{
	max-width: 100%;
	max-height: 100%;
}


.df-fdr{
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
}
.df-fdc{
	display: flex !important;
	flex-direction: column;
}
.df-fdr-nowrap{
	display: flex !important;
	flex-direction: row;
	flex-wrap: nowrap;
}
.df-fdr-to-fdc{
	display: flex !important;
	flex-direction: row;
}
.df-algn-jtfct-ct{
	align-items: center;
	justify-content: center;
}


.btn-app{
	position: relative;
	font-size: 14px;
    line-height: 26px;
	padding: 7px 20px;
	letter-spacing: .4px;
	border: none;
	text-decoration: none !important;
	border-radius: 3px;
	outline: 0;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-app.sm-btn{
	padding: 8px 20px;
    font-size: 13px;
}
.btn-app.xs-btn{
	padding: 6px 20px;
	font-size: 13px;
}
.btn-app.xs-btn.btn-box-item{
	padding: 8px 15px;
}
.btn-app.radius{
	border-radius: 25px;
}
.btn-app.border{
	border: 1px solid #e4dede;
}


.btn-outline-blue{
	color: #8645ff;
	background: #fff;
	border: 1px solid #8645ff;
	transition: all 0.2s;
}
.btn-outline-blue:hover{
	color: #fff;
	background: #783ee4 !important;
	border: 1px solid #783ee4 !important;
}
.btn-outline-red{
	color: #ea5d33;
	background: #fff;
	border: 1px solid #ea5d33;
	transition: all 0.2s;
}
.btn-outline-red:hover{
	color: #fff;
	background: #d65731 !important;
	border: 1px solid #d65731 !important;
}
.btn-outline-red-light{
	color: #dc3545;
	background: #fff;
	border: 1px solid #dc3545;
	transition: all 0.2s;
}
.btn-outline-red-light:hover{
	color: #fff;
	background: #dc3545 !important;
	border: 1px solid #dc3545 !important;
}
.btn-outline-teal{
	color: #17a2b8;
	background: #fff;
	border: 1px solid #17a2b8;
	transition: all 0.2s;
}
.btn-outline-teal:hover{
	color: #fff;
	background: #17a2b8 !important;
	border: 1px solid #17a2b8 !important;
}
.btn-outline-orange{
	color: #ffc107;
	background: #fff;
	border: 1px solid #ffc107;
	transition: all 0.2s;
}
.btn-outline-orange:hover{
	color: #fff;
	background: #ffc107 !important;
	border: 1px solid #ffc107 !important;
}
.btn-outline-green{
	color: #28a745;
	background: #fff;
	border: 1px solid #28a745;
	transition: all 0.2s;
}
.btn-outline-green:hover{
	color: #fff;
	background: #28a745 !important;
	border: 1px solid #28a745 !important;
}
.btn-outline-dark{
	color: #343a40;
	background: #fff;
	border: 1px solid #343a40;
	transition: all 0.2s;
}
.btn-outline-dark:hover{
	color: #fff;
	background: #343a40 !important;
	border: 1px solid #343a40 !important;
}


.bg-app{
	background: #f5f5f9;
}
.bg-white{
	color: #333;
	background: #fff;
}
.bg-white:hover{
	color: #333;
	background: #fff;
}
.bg-default{
	color: #575c5d;
	background: #eef4f5;
	border: 1px solid #eef4f5;
	transition: all 0.2s;
}
.bg-default:hover{
	color: #575c5d;
	background: #eef4f5 !important;
	border: 1px solid #eef4f5;
}
.bg-blue{
	color: #fff;
	background: #8645ff;
	border: 1px solid #8645ff;
	transition: all 0.2s;
}
.bg-blue:hover{
	color: #fff;
	background: #783ee4 !important;
	border: 1px solid #783ee4;
}
.bg-blue-light{
	color: #fff;
	background: #1877f2;
	border: 1px solid #1877f2;
	transition: all 0.2s;
}
.bg-blue-light:hover{
	color: #fff;
	background: #368eff !important;
	border: 1px solid #368eff;
}
.bg-red{
	color: #fff;
	background: #ea5d33;
	border: 1px solid #ea5d33;
	transition: all 0.2s;
}
.bg-red:hover{
	color: #fff;
	background: #d65731 !important;
	border: 1px solid #d65731;
}
.bg-red-light{
	color: #fff;
	background: #ff473d;
	border: 1px solid #ff473d;
	transition: all 0.2s;
}
.bg-red-light:hover{
	color: #fff;
	background: #f73127 !important;
	border: 1px solid #f73127;
}
.bg-teal{
	color: #fff;
	background: #01b8ff;
	border: 1px solid #01b8ff;
	transition: all 0.2s;
}
.bg-teal:hover{
	color: #fff;
	background: #1abeff !important;
	border: 1px solid #1abeff;
}
.bg-orange{
	color: #fff;
	background: #ffb209;
	border: 1px solid #ffb209;
	transition: all 0.2s;
}
.bg-orange:hover{
	color: #fff;
	background: #f8c90f !important;
	border: 1px solid #f8c90f;
}
.bg-green{
	color: #fff;
	background: #38d250;
	border: 1px solid #38d250;
	transition: all 0.2s;
}
.bg-green:hover{
	color: #fff;
	background: #18da35 !important;
	border: 1px solid #18da35;
}
.bg-dark{
	color: #fff;
	background: #343a40;
	border: 1px solid #343a40;
	transition: all 0.2s;
}
.bg-dark:hover{
	color: #fff;
	background: #23272b !important;
	border: 1px solid #23272b;
}
.bg-black{
	color: #fff;
	background: #23272b;
	border: 1px solid #23272b;
	transition: all 0.2s;
}
.bg-black:hover{
	color: #fff;
	background: #343a40 !important;
	border: 1px solid #343a40;
}


.full-width{
	width: 100% !important;
}
.width-100{
	width: 100%;
}
.width-75{
	width: 75%;
}
.width-70{
	width: 70%;
}
.half-width{
	width: 50% !important;
}
.width-30{
	width: 30% !important;
}
.width-25{
	width: 25% !important;
}
.width-auto{
	width: auto;
}
.width-auto-impt{
	width: auto !important;
}

.text-10{
	font-size: 10px;
}
.text-11{
	font-size: 11px;
}
.text-12{
	font-size: 12px;
}
.text-13{
	font-size: 13px;
}
.text-14{
	font-size: 14px;
}
.text-15{
	font-size: 15px;
}
.text-16{
	font-size: 16px;
}
.text-17{
	font-size: 17px;
}
.text-18{
	font-size: 18px;
}
.text-19{
	font-size: 19px;
}
.text-20{
	font-size: 20px;
}
.text-21{
	font-size: 21px;
}
.text-22{
	font-size: 22px;
}
.text-23{
	font-size: 23px;
}
.text-24{
	font-size: 24px;
}
.text-25{
	font-size: 25px;
}


.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-justify{
	text-align: justify;
}


.text-semi-bold{
	font-weight: 600;
}
.text-bold{
	font-weight: 700;
}
.text-italic{
	font-style: italic;
}
.text-line-through{
	text-decoration: line-through;
}
.text-underline{
	text-decoration: underline;
}
.text-no-underline{
	text-decoration: none !important;
}
.text-ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.tcolor-black{
	color: #000;
}
.tcolor-normal{
	color: #333;
}
.tcolor-normal2{
	color: #495057;
	/* color: #5f6368; */
}
.tcolor-mid-normal{
	color: #555;
}
.tcolor-mid-normal2{
	color: #626262;
}
.tcolor-semi-smooth{
	color: #828080;
}
.tcolor-subtitle{
	color: #8c8796;
}
.tcolor-mid-smooth{
	color: #999;
}
.tcolor-smooth{
	color: #adabab;
}
.tcolor-smooth{
	color: #adabab;
}
.tcolor-blue{
	color: #8645ff;
}
.tcolor-red{
	color: #ea5d33;
}
.tcolor-red-light{
	color: #ff473d;
}
.tcolor-teal{
	color: #01b8ff;
}
.tcolor-orange{
	color: #ffb209;
}
.tcolor-green{
	color: #38d250;
}
.tcolor-white{
	color: #fff;
}
.tcolor-black-to-blue{
	color: #495057;
	transition: all 0.3s;
}
.tcolor-black-to-blue:hover{
	color: #7367F0;
}


.no-pad{
	padding: 0;
}
.no-pad-impt{
	padding: 0 !important;
}
.pdv-app{
	padding-top: 30px;
	padding-bottom: 30px;
}
.pdv-10-to-none{
	padding-top: 10px;
	padding-bottom: 10px;
}
.pdh-app{
	padding-left: 30px;
	padding-right: 30px;
}
.pdh-10-to-none{
	padding-left: 10px;
	padding-right: 10px;
}
.pda-0{
	padding: 0px;
}
.pdl-0{
	padding-left: 0px;
}
.pdr-0{
	padding-right: 0px;
}
.pdt-0{
	padding-top: 0px;
}
.pdb-0{
	padding-bottom: 0px;
}
.pda-5{
	padding: 5px;
}
.pdl-5{
	padding-left: 5px;
}
.pdr-5{
	padding-right: 5px;
}
.pdt-5{
	padding-top: 5px;
}
.pdb-5{
	padding-bottom: 5px;
}
.pda-8{
	padding: 8px;
}
.pdl-8{
	padding-left: 8px;
}
.pdr-8{
	padding-right: 8px;
}
.pdt-8{
	padding-top: 8px;
}
.pdb-8{
	padding-bottom: 8px;
}
.pda-10{
	padding: 10px;
}
.pdl-10{
	padding-left: 10px;
}
.pdr-10{
	padding-right: 10px;
}
.pdt-10{
	padding-top: 10px;
}
.pdb-10{
	padding-bottom: 10px;
}
.pda-15{
	padding: 15px;
}
.pdl-15{
	padding-left: 15px;
}
.pdr-15{
	padding-right: 15px;
}
.pdt-15{
	padding-top: 15px;
}
.pdb-15{
	padding-bottom: 15px;
}
.pda-20{
	padding: 20px;
}
.pdl-20{
	padding-left: 20px;
}
.pdr-20{
	padding-right: 20px;
}
.pdt-20{
	padding-top: 20px;
}
.pdb-20{
	padding-bottom: 20px;
}
.pda-30{
	padding: 30px;
}
.pdl-30{
	padding-left: 30px;
}
.pdr-30{
	padding-right: 30px;
}
.pdt-30{
	padding-top: 30px;
}
.pdb-30{
	padding-bottom: 30px;
}


.no-margin{
	margin: 0 !important;
}
.mga-5{
	margin: 5px;
}
.mgl-5{
	margin-left: 5px;
}
.mgr-5{
	margin-right: 5px;
}
.mgt-5{
	margin-top: 5px;
}
.mgb-5{
	margin-bottom: 5px;
}
.mga-10{
	margin: 10px;
}
.mgl-10{
	margin-left: 10px;
}
.mgr-10{
	margin-right: 10px;
}
.mgt-10{
	margin-top: 10px;
}
.mgb-10{
	margin-bottom: 10px;
}
.mga-15{
	margin: 15px;
}
.mgl-15{
	margin-left: 15px;
}
.mgr-15{
	margin-right: 15px;
}
.mgt-15{
	margin-top: 15px;
}
.mgb-15{
	margin-bottom: 15px;
}
.mga-20{
	margin: 20px;
}
.mgl-20{
	margin-left: 20px;
}
.mgr-20{
	margin-right: 20px;
}
.mgt-20{
	margin-top: 20px;
}
.mgb-20{
	margin-bottom: 20px;
}
.mga-25{
	margin: 25px;
}
.mgl-25{
	margin-left: 25px;
}
.mgr-25{
	margin-right: 25px;
}
.mgt-25{
	margin-top: 25px;
}
.mgb-25{
	margin-bottom: 25px;
}
.mga-30{
	margin: 30px;
}
.mgl-30{
	margin-left: 30px;
}
.mgr-30{
	margin-right: 30px;
}
.mgt-30{
	margin-top: 30px;
}
.mgb-30{
	margin-bottom: 30px;
}

/* ---------------------- */
/* 		   	End		  	  */
/* ---------------------- */


/* ---------------------- */
/* 		   Header		  */
/* ---------------------- */

header{
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - 280px);
	height: 82px;
	background: #fff;
	box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
	z-index: 6;
}

/* ---------------------- */
/* 		   	End		  	  */
/* ---------------------- */


/* ---------------------- */
/* 		   Sidebar		  */
/* ---------------------- */

.main-sidebar{
	position: fixed;
	width: 280px;
	height: 100vh;
	background: #fff;
	box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.1);
	z-index: 11;
}
.main-sidebar .logo{
	float: left;
	display: flex;
	width: 100%;
	height: 82px;
	box-shadow: -9px 0 20px rgba(89, 102, 122, 0.1);
	align-items: center;
}
.main-sidebar .logo img{
	max-width: 85%;
	max-height: 85%;
}
.main-sidebar .main-content{
	float: left;
    width: 100%;
    height: calc(100vh - 102px);
    padding: 10px 0;
}
.sidebar-content{
	float: left;
	width: 88%;
	height: 80vh;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0 15px;
	overflow-x: hidden;
	overflow-y: auto;
}
.sidebar-links{
	float: left;
	width: 100%;
	height: auto;
}
.sidebar-links li{
	float: left;
	width: 100%;
	/* width: calc(88% - 30px); */
	height: auto;
	/* margin-left: 15px;
	margin-right: 15px; */
	list-style: none !important;
}
.sidebar-title{
	width: 87% !important;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 15px 17px;
	background: rgba(115, 102, 255, 0.06);
	border-radius: 5px;
}
.sidebar-title .title,
.sidebar-title .description{
	float: left;
	width: 100%;
	height: auto;
}
.sidebar-title .title{
	font-size: 16px;
	font-weight: 700;
	color: #877cff;
}
.sidebar-title .description{
	margin-top: 5px;
	font-size: 13px;
	color: #898c90;
}

/* .sidebar-list{
	
} */
.sidebar-list .list-content{
	display: flex;
	/* width: 100%; */
	width: 87%;
	height: auto;
	padding: 12px 17px;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 600;
	color: #2c323f;
	align-items: center;
	transition: all 0.3s;
	cursor: pointer;
}
.sidebar-list .list-content .icon{
	display: flex;
	width: 10%;
	font-size: 17px;
	align-items: center;
	justify-content: center;
}
.sidebar-list .list-content .icon .list-circle{
	list-style: circle;
}
.sidebar-list .list-content .title{
	width: 80%;
	padding-left: 5px;
}
.sidebar-list .list-content .arrow{
	display: flex;
	width: 10%;
	font-size: 17px;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.sidebar-list .list-content .arrow.isOpen{
	transform: rotate(-90deg);
}
.sidebar-list .list-content.isOpen,
.sidebar-list .list-content:hover{
	color: #7366ff;
	background: rgba(115, 102, 255, 0.06);
}
.sidebar-list-menu{
	visibility: hidden;
	opacity: 0;
	float: left;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s;
}
.sidebar-list-menu.isOpen{
	visibility: visible;
	opacity: 1;
	max-height: 999999px;
}
.sidebar-list-menu li{
	width: 100%;
	/* margin-left: 5px; */
	margin-left: 0;
    margin-right: 0;
}
.sidebar-list-menu .sidebar-list .list-content{
	/* width: 100%; */
	width: 87%;
}

/* ---------------------- */
/* 		   	End		  	  */
/* ---------------------- */


/* ---------------------- */
/* 		   Content		  */
/* ---------------------- */

content{
	float: right;
	width: calc(100% - 280px);
	min-height: 100vh;
}

/* ---------------------- */
/* 		   	End		  	  */
/* ---------------------- */


/* ---------------------- */
/* 		   Footer		  */
/* ---------------------- */


/* ---------------------- */
/* 		   	End		  	  */
/* ---------------------- */