/* ---------------------- */
/* 		 Width : 1280px	  */
/* ---------------------- */

@media screen and (max-width: 1280px){

    /* ---------------------- */
    /* 		   Global		  */
    /* ---------------------- */
    
    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Header		  */
    /* ---------------------- */
    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Sidebar		  */
    /* ---------------------- */

    

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Content		  */
    /* ---------------------- */
    .screen-flex-center .flex-content{
        width: 65%;
    }
    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Footer		  */
    /* ---------------------- */

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */
}

/* ---------------------- */
/* 		    End		  	  */
/* ---------------------- */

/* ---------------------- */
/* 		 Width : 992px	  */
/* ---------------------- */

@media screen and (max-width: 992px){

    /* ---------------------- */
    /* 		   Global		  */
    /* ---------------------- */

    .pull-right-to-left{
        float: left;
    }

    .df-fdr-to-fdc{
        flex-direction: column;
    }

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Header		  */
    /* ---------------------- */

    header{
        width: 100%;
    }    

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Sidebar		  */
    /* ---------------------- */

    .main-sidebar{
        left: -100%;
    }
    .main-sidebar.collapse-mode{
        left: 0;
    }
    .main-sidebar .logo .close-sidebar{
        display: block;
    }

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Content		  */
    /* ---------------------- */
    
    content{
        width: 100%;
    }

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Footer		  */
    /* ---------------------- */

    

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */

}

/* ---------------------- */
/* 		    End		  	  */
/* ---------------------- */

/* ---------------------- */
/* 		 Width : 768px	  */
/* ---------------------- */

@media screen and (max-width: 768px){

    /* ---------------------- */
    /* 		   Global		  */
    /* ---------------------- */
    
    

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Header		  */
    /* ---------------------- */

    

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Sidebar		  */
    /* ---------------------- */

    

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Content		  */
    /* ---------------------- */

    

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Footer		  */
    /* ---------------------- */
    
    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */
}

/* ---------------------- */
/* 		    End		  	  */
/* ---------------------- */

/* ---------------------- */
/* 		 Width : 576px	  */
/* ---------------------- */

@media screen and (max-width: 576px){

    /* ---------------------- */
    /* 		   Global		  */
    /* ---------------------- */

    

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Header		  */
    /* ---------------------- */

    .main-header{
        height: 60px;
    }
    .main-header .header-container ul li{
        padding: 5px 10px;
    }

    .avatar-header img{
        max-width: 30px;
    }
    .avatar-header .bio{
        display: none;
    }

    .dropdown-app.sm-dropdown{
        width: 170px;
    }
    .dropdown-app.md-dropdown{
        width: 230px;
    }
    .dropdown-app.lg-dropdown{
        width: 300px;
    }

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Sidebar		  */
    /* ---------------------- */

    .main-sidebar{
        width: 350px;
    }

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Content		  */
    /* ---------------------- */

    

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Footer		  */
    /* ---------------------- */

    

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */
}

/* ---------------------- */
/* 		    End		  	  */
/* ---------------------- */

/* ---------------------- */
/* 		 Width : 417px	  */
/* ---------------------- */

@media screen and (max-width: 417px){

    /* ---------------------- */
    /* 		   Global		  */
    /* ---------------------- */
    
    

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Header		  */
    /* ---------------------- */

    

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Sidebar		  */
    /* ---------------------- */

    .main-sidebar{
        width: 300px;
    }

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Content		  */
    /* ---------------------- */

    
    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Footer		  */
    /* ---------------------- */

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */
}

/* ---------------------- */
/* 		    End		  	  */
/* ---------------------- */


/* ---------------------- */
/* 		 Width : 300px	  */
/* ---------------------- */

@media screen and (max-width: 300px){

    /* ---------------------- */
    /* 		   Global		  */
    /* ---------------------- */
    
    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Header		  */
    /* ---------------------- */
    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Sidebar		  */
    /* ---------------------- */

    

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */


    /* ---------------------- */
    /* 		   Content		  */
    /* ---------------------- */

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */
    


    /* ---------------------- */
    /* 		   Footer		  */
    /* ---------------------- */

    /* ---------------------- */
    /* 		    End		  	  */
    /* ---------------------- */
}

/* ---------------------- */
/* 		    End		  	  */
/* ---------------------- */